        </div>
        <script src="{{ "js/jquery-3.2.1.slim.min.js" | relURL }}"></script>
        <script src="{{ "js/popper-1.12.9.min.js" | relURL }}"></script>
        <script src="{{ "js/bootstrap-4.0.0.min.js" | relURL }}"></script>
        <script src="{{ "js/holder-2.9.4.min.js" | relURL }}"></script>
        <script type="text/javascript" src="{{ "js/docsearch.min.js" | relURL }}"></script>
        <script type="text/javascript" src="{{ "js/mermaid.min.js" | relURL }}"></script>
        <script type="text/javascript" src="{{ "js/highlight.min.js" | relURL }}"></script>
        <script src="{{ "js/main.js" | relURL }}"></script>
        <script type="text/javascript">
            docsearch({
                apiKey: 'f5d0c017e70ffe180e05515a2869c1e4',
                indexName: 'nlx',
                inputSelector: '#search-input',
                debug: false // Set debug to true if you want to inspect the dropdown
            });
        </script>
    </body>
</html>
