<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ "css/nlx-design-system-base.min.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/docsearch.min.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/highlight.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "css/main.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/base-addon.css" | relURL }}">

    <link rel="shortcut icon" type="image/x-icon" href="{{ "img/favicon.ico" | relURL }}" />

    <title>{{ .Title }} {{ if ne .Title .Site.Title }} &middot; {{ .Site.Title }}{{ end }}</title>
</head>

<body class="bg-white">
    <a id="skippy" class="sr-only sr-only-focusable" href="#content">
        <div class="container">
            <span class="skiplink-text">Skip to main content</span>
        </div>
    </a>

    <!-- HEADER PARTIAL -->
    <header class="navbar navbar-expand navbar-sticky flex-column bg-white navbar-expand-md">
        <div class="container">
            <nav class="collapse navbar-collapse " aria-label="Page navigation">
                <a class="navbar-logo" href="https://www.nlx.io">
                    <img src="{{ "img/logo.svg" | relURL }}" />
                </a>
                <ul class="navbar-nav flex-row">
                    <li class="nav-item">
                        <a class="nav-link" href="https://nlx.io/about/">Over NLX</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/">Docs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://directory.nlx.io">Directory</a>
                    </li>
                </ul>

                <a class="nav-link" href="https://gitlab.com/commonground/nlx" target="_blank" aria-label="GitLab">
                    <img src="{{ "img/gitlab.svg" | relURL }}" />
                </a>
            </nav>
        </div>
    </header>