<div class="col-12 col-md-3 col-lg-2 sidebar bg-light px-0">
	<div class="search d-flex">
		<form action="#" method="GET">
			<input type="search" class="form-control" id="search-input" placeholder="Search..." autocomplete="off" spellcheck="false"
			role="combobox" aria-autocomplete="list" aria-expanded="false" aria-owns="algolia-autocomplete-listbox-0">
			<button class="search_button d-sm-none">
				<svg viewBox="0 0 13 13" width="14" height="14">
					<title>search</title>
					<path d="M9.448 7.843L13 11.383 11.384 13 7.832 9.448c-.786.501-1.719.797-2.72.797A5.113 5.113 0 0 1 0 5.123 5.116 5.116 0 0 1 5.123 0a5.116 5.116 0 0 1 5.122 5.123 5.077 5.077 0 0 1-.797 2.72zm-4.325.125a2.847 2.847 0 0 0 0-5.691 2.847 2.847 0 0 0 0 5.691z"
					fill="currentColor" fill-rule="evenodd"></path>
				</svg>
			</button>
		</form>

		<button class="navbar-toggler button d-md-none" type="button" data-toggle="collapse" data-target="#sub-navigation"
		 aria-controls="sub-navigation" aria-expanded="false" aria-label="Toggle navigation">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" width="30" height="30" focusable="false">
				<title>Menu</title>
				<path stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-miterlimit="10" d="M4 7h22M4 15h22M4 23h22">
				</path>
			</svg>
		</button>
	</div>

	<nav class="bd-links collapse py-3" id="sub-navigation" aria-label="Sub navigation" style="max-height: calc(100vh - 8rem);">
		{{ $currentPage := . }}
		{{ range .Site.Menus.docs }}
		<ul class="navbar-nav">
			<li class="nav-item {{ if $currentPage.IsMenuCurrent "docs" . }}active{{ end }}">
				<a class="nav-link" href="{{ .URL }}">
					{{ .Name }}
				</a>
			</li>
			{{ if .HasChildren }}
			<ul>
				{{ range .Children }}
				<li class="nav-item {{ if $currentPage.IsMenuCurrent "docs" . }}active{{ end }}">
					<a class="nav-link" href="{{ .URL }}">{{ .Name }}</a>
				</li>
				{{ end }}
			</ul>
			{{ end }}
		</ul>
		{{ end }}
	</nav>
</div>