/**
 * Copyright © VNG Realisatie 2018
 * Licensed under the EUPL
 */

:root {
  --header-height: 64px;
}

body {
  padding-top: 0;
}

.navbar-nav {
  flex: 1;
  align-items: flex-start;
}

.navbar.navbar-sticky {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  top: 0;
  height: var(--header-height);
}

.navbar .container {
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: hidden;
  height: var(--header-height);
}

.navbar .navbar-nav .nav-link {
  height: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0;
  white-space: nowrap;
}

.nav-link {
  display: flex;
}

.navbar .navbar-logo {
  margin-right: 1rem;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
}

.navbar-logo img {
  height: 20px;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: var(--header-height);
  left: 0;
  width: 100%;
  height: inherit;
}

@media (min-width: 768px) {
  .sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: var(--header-height);
    left: 0;
    height: calc(100vh - var(--header-height));
    z-index: 1020;
  }
}

@media (min-width: 992px) {
  .sidebar {
    min-width: 14rem;
  }
}
.bd-toc {
  flex: 1;
  position: -webkit-sticky;
  position: sticky;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
  overflow-y: auto;
}

.bd-content > h1[id]::before,
h2[id]::before,
.bd-content > h3[id]::before,
.bd-content > h4[id]::before {
  display: block;
  height: calc(var(--header-height) + 1rem);
  margin-top: calc(var(--header-height) * -1);
  visibility: hidden;
  content: "";
}

.button {
  /*top: 0;
  right: 0;
  bottom: 0;
  width: 52px;*/
  color: #adb5bd;
  transition: color 0.15s ease;
}

.button.navbar-toggler:focus {
  outline: none;
}

.container-fluid {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid .row {
  margin-right: -1rem;
  margin-left: -1rem;
}

.container-fluid .bd-content {
  padding-top: 1rem;
}

h1 {
  font-size: 1.5rem;
}

.bd-content h1 {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .bd-links {
    display: block !important;
  }
}

@media (max-width: 768px) {
  .search_button {
    display: none;
  }

  .sidebar .search .form-control {
    padding: 2rem;
    border: none;
    /*border-bottom: 1px solid #e9ecef;*/
  }
  .sidebar {
    border-bottom: 1px solid #e9ecef;
  }

  /*.sidebar > nav.show{
    box-shadow: 0 0 1rem grey;
  }*/
}

#TableOfContents {
  margin-top: 2rem;
}

.sidebar .search .form-control {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.sidebar nav .navbar-nav {
  padding-left: 0;
  padding-right: 0;
  margin-bottom: 1rem;
}

.sidebar nav .navbar-nav .nav-item {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.sidebar nav .navbar-nav .nav-item .nav-link {
  padding: .15rem 1.5rem .3rem;
  line-height: 1.7;
  color:#757575;
}

.sidebar nav .navbar-nav ul {
  width: 100%;
}

.sidebar nav .navbar-nav ul .nav-item .nav-link {
  padding-left: 2rem;
}

@media screen and (max-width: 991px) {
  .bd-content {
    font-size: 14px;
  }
  .sidebar nav .navbar-nav .nav-item .nav-link {
    font-size: 12px;
  }
}

@media screen and (max-width: 575px) {
  .navbar .navbar-nav .nav-link {
    padding-left: .5rem;
    padding-right: .5rem;
    font-size: 14px;
  }

  .navbar-logo img {
    height: 16px;
  }

  .nav-link img {
    height: 20px;
  }
}
